/*  Fix 10 CSS Items for Assignment
  [x] Resizing of Up Next Images
  [x] Aligning of Up Next Video details
  [x] Add class to all Aside <p> elements
  [x] Vertical align all Aside <p> elements
  [x] Change Aside user name and views font color to gray and shrink font size
  [x] Embed "The Pill Scene" video
  [x] Adjust size and margin of Aside
  [x] Add "Subscribe count" input next to subscribe button
  [x] Adjust margin in video section
  [x] Create sub elements in a div beneath video section
  [x] Style sub elements
  [x] Create video details section with "Show More" area
  [x] Create Comments section underneath "Show More".
 */

* {
  box-sizing: border-box;
}

/* Up Next videos */
.aside__element {
  background-color: white;
  display: inline-block;
  float: right;
  height: 700px;
  margin-left: 5px;
  margin-right: 120px;
  margin-top: 10px;
  width: 350px;
}

.aside__img {
  height: 95px;
  padding-left: 10px;
  width: 150px;
}

.aside__user {
  color: rgb(85, 85, 85);
  display: table-cell;
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.aside__views {
  color: rgb(85, 85, 85);
  font-size: 10px;
  margin-top: 1px;
}

.button__upload {
  background-color: rgb(248, 248, 248);
  display: inline-block;
  font-size: 9px;
}

.cat__hat__div {
  display: inline-flex;
  margin-left: 10px;
  margin-top: 5px;
  width: 40px;
}

.comments__section {
  background-color: white;
  color: rgb(85, 85, 85);
  height: 40px;
  padding-left: 10px;
}

.comments__text {
  font-size: 12px;
  padding: 10px 0 0 3px;
  margin-top: 8px;
}

.description {
  font-size: 12px;
  margin-top: 0;
}

.description__heading {
  font-size: 13px;
  margin-bottom: 4px;
  margin-top: 10px;
  padding-top: 10px;
}

.details__div {
  display: inline-block;
  margin: 0;
  margin-left: 10px;
  vertical-align: top;
  width: 150px;
}

.element__add__to {
  color: rgb(85, 85, 85);
  font-size: 12px;
  margin-right: 25px;
}

.element__dislikes {
  color: rgb(85, 85, 85);
  font-size: 12px;
}

.element__likes {
  color: rgb(85, 85, 85);
  margin-right: 15px;
  font-size: 12px;
}

.element__more {
  color: rgb(85, 85, 85);
  font-size: 12px;
  margin-right: 450px;
}

.element__share {
  color: rgb(85, 85, 85);
  font-size: 12px;
  margin-right: 25px;
}

.full__body {
  background-color: rgb(241, 241, 241);
  margin: 0;
}

.h3__details {
  display: inline;
  font: bold;
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 0;
  width: 182px;
}

.img__profile {
  border-radius: 19px;
  display: inline-block;
  margin-left: 16px;
  margin-top: 2px;
  vertical-align: top;
  width: 19px;
}

.logo__youtube {
  display:inline-block;
  margin-top: -9px;
  width: 60px;
}

.main {
  background-color: rgb(241, 241, 241);
  display: inline-block;
  margin-left: 125px;
  margin-top: 10px;
  width: 678px;
}

.nav__bar {
  background-color: white;
  height: 40px;
  padding: 9px 20px;
}

.nav__link {
  display: inline-block;
}

.options__bar {
  background-color: white;
  display: inline-flex;
  height: 45px;
  margin-top: 3px;
  padding-left: 10px;
  text-align: center;
  width: 678px;
}

.search__form {
  border-color: black;
  display: inline-block;
  margin-left: 85px;
  vertical-align: top;
}
/* Nav search bar */
.search__submit,
.search__text {
  display:inline-block;
  height: 21px;
}

.search__submit {
  background-color: rgb(249,249,249);
  border: 5px;
  border-color: rgb(225, 225, 225);
  padding: 3px;
  width: 52px;
}

.search__text {
  width: 460px;
}

.show__more__div {
  background-color: white;
  height: 20px;
  padding-top: 4px;
  width: 678px;
}

.show__more__text {
  color: rgb(85, 85, 85);
  font-size: 11px;
  font-weight: 600px;
  margin: 0;
  text-align: center;
}

.subscribe__div {
  display: inline-table;
  width: 150px;
}

.subscribe__group {
  display: inline-flex;
  width: 100px;
}

.subscription__count {
  font-size: 10px;
  text-align: center;
  width: 30px;
}

.up__next__h2 {
  display: table;
  font-size: 12px;
  margin: 5px 0 0 10px;
  width: 65px;
}

.up__next__img {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 150px;
}

.user__group__top {
  display: inline-block;
  float: right;
}

.username__freestyler {
  color: rgb(85, 85, 85);
  display: inline;
  font-size: 13px;
  font-weight: 600;
  vertical-align: top;
  width: 180px;
}

.video {
  display: inline-block;
  height: 385px;
  width: 678px;
}

.video__cat__photo {
  display: inline-block;
  height: 40px;
  vertical-align: top;
  width: 40px;
}

.video__description {
  background-color: white;
  border-bottom-style: groove;
  border-bottom-width: thin;
  height: 90px;
  margin-top: 25px;
  padding-left: 10px;
  width: 678px;
}

.video__movie__title {
  display: table;
  font-size: medium;
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 10px;
  width: 250px;
}

.video__section {
  background-color: white;
  border-bottom-style: groove;
  border-bottom-width: thin;
  display: inline-block;
  height: 98px;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  width: 678px;
}

.video__subscribe__button {
  background-color:red;
  color: white;
}

.video__username__aside {
  display: inline-block;
  font-size: small;
  margin: 0;
  width: 600px;
}

/* Video Views text */
.video__views__count {
  color: rgb(85, 85, 85);
  display: inline-block;
  float:right;
  font-size: large;
  font-weight: 500;
  margin-bottom: 0;
  margin-right: 15px;
  margin-top: 0;
}
